:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #434455;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: rgba(46, 47, 66, 0.4);
  --hero-background: rgba(46, 47, 66, 0.7);
  --white-background: #ffffff;
  --modal-background: rgba(46, 47, 66, 0.4);
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #434455;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #ffffff;
  --dairy: rgba(46, 47, 66, 0.4);
}

/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body {
  font-family: "railway", "roboto";
  max-width: 1440px;
  max-height: 2592px;
}

a {
  text-decoration: none;
}

h2 {
  color: var(--navy-blue);
  text-align: center;
  /* Header 2 */
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
/* END OF GENERAL */

/* START OF NAV BAR */

.logo-web {
  color: var(--iris);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo-studio {
  color: var(--navy-blue);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  padding: 0;
}
.pages-link {
  color: var(--navy-blue);
  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  padding-left: 0;
}

.contact-details {
  color: var(--slate);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.navigation {
  display: flex;
  height: 72px;
  width: 1440px;
  align-items: baseline;
}

.pages {
  display: flex;
  flex-direction: row;
}

.contact {
  display: flex;
  flex-direction: row;
}

.logo {
  margin: 25.5px 76px 25.5px 156px;
}

.pages-link {
  padding-right: 40px;
}

.contact {
  margin-left: 332px;
}

.contact-details {
  padding-right: 40px;
}
/* END OF NAV BAR */

/* START OF HERO SECTION */
.hero {
  background-color: var(--navy-blue);
  display: inline-block;
  max-width: 1440px;
  max-height: 600px;
}

.hero-slogan {
  margin: 188px 472px 292px;
  max-height: 120px;
  max-width: 496px;
}
h1 {
  color: var(--white);
  text-align: center;
  /* Header 1 */
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12px;
}

.hero button {
  border-radius: 4px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white);
  padding: 16px 32px;

  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
/* END OF HERO SECTION */

/* START OF PURPOSE SECTION */
.values li {
  color: var(--navy-blue);
  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
  padding: 0;
}

.values p {
  color: var(--slate);
  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/* START OF WHAT ARE WE DOING */
.function {
}

/* START OF TEAM SECTION */
h4 {
  color: var(--navy-blue);
  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.team-list p {
  color: var(--slate);
  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.team {
  display: flex;
  flex: 1;
}
/* END OF TEAM SECTION */

/* START OF FOOTER SECTION */
.footer {
  background-color: var(--navy-blue);
  width: 1440px;
}

.footer-logo-studio-footer {
  color: var(--cloud);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer p {
  color: var(--cloud);
  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
/* END OF FOOTER SECTION */
